body{
	padding: 0;
	margin: 0;
	font-family: Poppins;
	min-width: 600px;
}

.banner{
	width: auto;
	margin: auto;
	background-color:rgb(41, 34, 34);
	height: 100px;
	padding: 10px 10px 10px;
	text-align: center;
	color: whitesmoke;
}

.banner h1{
	font-size: 20px;
	padding-top: 10px;
	float: left;
}
.banner-logo{
	border-radius: 5px;
	padding:0px 5px 0px 5px;
	width: fit-content;
	height: fit-content;
	background-color: brown;
	float: right;
}
.wrapper{
	margin: 0 auto;
	width: 80%;
	height: 1520px;
	padding: 10px 10px 10px 10px;
}

.wrapper h1{
	font-size: 2.0em;
	color: rgb(29, 32, 36);
	float: left;
	padding-left: 20px;
}
.wrapper h3{
	padding-top: 10px;
	padding-right: 30px;
	float: right;
	color: rgb(63, 61, 61);
	text-decoration: underline;
}

.wrapper-mainfrm{
	float: left;
	width: 100%;
	padding-bottom: 30px;
	height: fit-content;
	background-color:rgb(41, 34, 34);
	border-radius: 10px;
	color: whitesmoke;

}
.wrapper-mainfrm h2{
	padding: 10px 30px;
	text-decoration: underline;
}

.wrapper-mainfrm .frm-contains{
	padding-left: 20px;

	
	
}

.wrapper-mainfrm .frm-contains select{
	margin-bottom: 10px;
	width: calc(100% - 20px);
	padding: 10px;
	height: fit-content;
	font-size: 12px;
	border-radius: 5px;
	background-color: rgb(20, 25, 29);
	font-weight: 900;
	color: whitesmoke;
}

.wrapper-mainfrm .frm-contains .opcls{
	font-size: 1.1em;
	font-weight: 400;
}

.wrapper-mainfrm .frm-contains textarea{
	margin-bottom: 10px;
	width: calc(100% - 50px);
	padding: 15px;
	height: fit-content;
	font-size: 15px;
	border-radius: 5px;
	background-color: rgb(20, 25, 29);
	font-size: 1.1em;
	font-weight: 900;
	color: green;

}



.button {
	margin-top: 10px;
	width: calc(100% - 30px);
	height: fit-content;
	padding: 10px 30px;
	border-radius: 8px;
	border: 0;
	font-size: 1.2em;
	font-weight: 900;
}

.btn-Decrypt{
	background-color: rgb(20, 25, 29);
	color: whitesmoke;

}
.wrapper-decrypts{
	margin-top: 30px;
	float: left;
	width: 100%;
	padding-bottom: 30px;
	height: fit-content;
	background-color:rgb(41, 34, 34);
	border-radius: 10px;
	margin-bottom: 100px;
}

.wrapper-decrypts h3{
	color: whitesmoke;
	padding: 10px 30px;
	float: none;

}
.wrapper-decrypts p{
	color: darkgreen;
	padding: 10px 30px;
	float: none;

}






