body{
	padding: 0;
	margin: 0;
	font-size: 15px;
	font-family: Poppins;
	min-width: 720px;
}

.banner{
	width: auto;
	margin: auto;
	background-color:rgb(41, 34, 34);
	height: 100px;
	padding: 10px 10px 10px;
	text-align: center;
	color: whitesmoke;
}

.banner h1{
	font-weight: 150em;
	float: left;
}
.banner-logo{
	border-radius: 5px;
	padding:0px 10px 0px 10px;
	width: fit-content;
	height: fit-content;
	background-color: brown;
	float: right;
}
.wrapper{
	margin: 0 auto;
	width: 90%;
	height: 1520px;
	padding: 10px 10px 10px 10px;
}

.wrapper h1{
	font-size: 3.0em;
	color: rgb(29, 32, 36);
	float: left;
}
.wrapper h3{
	padding-top: 30px;
	padding-right: 10px;
	float: right;
	color: rgb(63, 61, 61);
	text-decoration: underline;
}

.wrapper-mainfrm{
	float: left;
	width: 100%;
	padding-bottom: 30px;
	height: fit-content;
	background-color:rgb(41, 34, 34);
	border-radius: 10px;
	color: whitesmoke;

}
.wrapper-mainfrm h2{
	padding: 10px 30px;
	text-decoration: underline;
}

.wrapper-mainfrm .frm-contains{
	padding-left: 20px;
}
.wrapper-mainfrm .frm-contains input{
	margin-bottom: 20px;
	width: calc(100% - 30px);
	padding: 8px;
	height: fit-content;
	font-size: 15px;
	border-radius: 5px;
}

.wrapper-mainfrm .frm-contains textarea{
	width: calc(100% - 30px);
	height: 100px;
	font-size: 15px;
	border-radius: 5px;
}







